<!DOCTYPE html>
<html>
  <head>
    <title>MyRecipes</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <!-- Render the navigation menu at layouts/navigation -->
    <%= render 'layouts/navigation' %>
    
    <div class="container">
      <!-- The flashes messages -->
      <%= render 'layouts/messages' %>
      
      <!-- The main content area -->
      <%= yield %>
      <!-- the footer content area -->
      <%= render 'layouts/footer' %>
    </div>
  </body>
</html>
